* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
}

div {

    padding: 30px;
    width: 500px;
    border-radius: 12px;



}

h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: #ffffff;
}


input {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
}



input[type="text"] {
    width: 70%;
    padding: 12px;
    border: 2px solid #747679;
    size: 10px;
    font-size: 1rem;
    transition: 0.3s;
    outline: none;
}


button {
    padding: 12px 20px;
    background-color: #3fa544;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #46634a;
}

ul {
    color: #333;
    list-style: none;
  padding: 0;
}


li{
    
    background-color: #f9f9f9;
    font-size: 20px;
    padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}