* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
}

div {

    padding: 30px;
    width: 500px;
    border-radius: 12px;
    background-color: rgb(231, 231, 238);


}

h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #1a73e8;
}


input {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}



input[type="text"] {
    width: 70%;
    padding: 12px;
    border: 2px solid #1a73e8;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s;
    outline: none;
}


button {
    padding: 12px 20px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}